{{#if news}}
  <div class="row">
    {{#each news}}
      <div class="col-lg-6">
        <div class="card" style="cursor: pointer;" onclick="window.location.href = '/news/detail/{{this.id}}'">
          <img src='http://localhost:3000{{this.cover}}' class="card-img-top" style="height: 200px; object-fit: cover;" alt=''>
          <div class="card-body">
            <h5 class="card-title">{{this.title}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Автор: {{this.author}}</h6>
            <p class="card-text">{{this.description}}</p>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
{{else}}
  <h1>Список новостей пуст!</h1>
{{/if}}
